<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Task list</title>
    </head>
    <body>
        <div th:replace="fragments/header.html"></div>

        <table border="1" width="100%" cellpadding="10" cellspacing="0">
            <tr>
                <th>№</th>
                <th>Name</th>
                <th>Description</th>
                <th>Responsible</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="task, iter : ${tasks}" th:class="${iter.even ? 'even' : 'odd'}">
                <td width="50" align="center" nowrap="nowrap" th:utext="${iter.index + 1} + '.'">...</td>
                <td width="40%" th:utext="${task.name}">...</td>
                <td width="50%" th:utext="${task.description}">...</td>
                <td width="5%" th:utext="${task.person == null ? 'error' : task.person.getShort()}">...</td>
                <td width="50" nowrap="nowrap" align="center">
                    <a th:href="@{/task-edit(id=${task.id})}">EDIT</a>
                </td>
                <td width="50" nowrap="nowrap" align="center">
                    <a th:href="@{'/task-remove?id=' + ${task.id}}">REMOVE</a>
                </td>
            </tr>
        </table>

        <br/>
        <form method="get" action="/task-create">
            <button type="submit">CREATE</button>
        </form>
        <br/>

        <div th:replace="fragments/footer.html"></div>
    </body>
</html>