.viewTable tr th {
    padding-left: 5px;
}

.viewTable tr td {
    padding-left: 5px;
}

.listTable tr td {
    padding-left: 5px;
}

.listTable tr :first-child {
    padding-left: 0;
}

.listTable tr :nth-last-child(-n+3) {
    padding-left: 0;
}

.adListTable tr td {
    padding-left: 5px;
}

.adListTable tr :nth-last-child(-n+3) {
    padding-left: 0;
}

.adListTable tr :first-child {
    padding-left: 0;
}

.adListTable tr :nth-child(2) {
    padding-left: 0;
}

.header {
    background: black;
    color: white;
    width: inherit;
    height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 15pt;
    line-height: 60px;
}

.headerChild a:visited {
    color: white;
}

.headerChild a:link {
    color: white;
}

.headerChild a:hover {
    color: red;
}

.headerChild {
    margin-right: 10px;
    line-height: 60px;
}

.header :first-child {
    margin-left: 10px;
}
.header :nth-last-child(2) {
    margin-left: auto;
}

.footer {
    background: black;
    height: 60px;
    color: white;
    line-height: 60px;
    font-size: 10pt;
}

.footer p {
    margin: 0 0 0 20px;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
}

.content {
    margin-left: 10px;
    width: inherit;
    height: calc(100vh - 120px);
}